python-dotenv==1.0.1
langgraph>=0.2
langchain>=0.2
langchain-community
langchain-ollama
langchain-openai>=0.3.29
langchain-anthropic
langgraph-cli
langgraph-sdk
fastapi>=0.115
uvicorn[standard]>=0.30
langserve[all]>=0.3
pydantic>=2.7.0,<3.0.0
ipykernel==6.29.5
pandas
openpyxl
redis
langchain-redis
requests
httpx>=0.25.0
openai
mcp
langchain-mcp-adapters